
		
		header{
			position: absolute;
			height: 10%;
			width: 100%;
			background: grey;
			color: #0A24CB;
		}

		h1{

		}

		content{
			position: absolute;
			top: 15%;
			height: 85%;
			width: 100%;
			background-color: grey;
			text-align: center;
		}

		content > dev{
			padding-top: 2%;
		}

		footer{
			position: absolute;
			top:95%;
			height: 5%;
			width: 100%;
			background: grey;
		}
